<% content_for :page_title, 'Home | Learn Rails' %>
<% content_for :description, 'Lorem Ipsum dolor sit amet' %>

<section>
  <div class="panel">
    <%= image_tag 'lorempixel.jpg' %>
  </div>

  <div class="large-offset-2 large-8 column">
    <h2>Stay in touch!</h2>

    <%= simple_form_for @visitor do |f| %>
      <%= f.error_notification %>

      <%= f.input :email, label: false, placeholder: 'Your email address…' %>
      <%= f.button :submit, 'Sign up for the newsletter', class: 'submit' %>
    <% end %>
  </div>
</section>
